<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sws::top_level" title="Sws" module="Sws_CustomOrderProcessing" sortOrder="9999"
             resource="Magento_Backend::content"/>
        <add id="Sws_CustomOrderProcessing::sws_customorderprocessing_orderstatuslog" title="Order Status Log"
             module="Sws_CustomOrderProcessing" sortOrder="9999" resource="Magento_Backend::content"
             parent="Sws::top_level" action="sws_customorderprocessing/orderstatuslog/index"/>
    </menu>
</config>
